body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  font-family: 'Dosis', sans-serif;
  font-size: 1.2em;
}

#main-header {
  text-align: center;
}

#figures canvas {
  width: 100%;
}

kbd {
    color: rgb(51, 51, 51);
    display: inline-block;
    background-color: rgb(247, 247, 247);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px, rgb(255, 255, 255) 0px 0px 0px 2px inset;
    text-shadow: rgb(255, 255, 255) 0px 1px 0px;
    font-weight: bold;
    position: relative;
    bottom: 2px;
    margin: 0px 0.1em;
    padding: 0.1em 0.6em;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-image: initial;
    border-radius: 3px;
}